:root {
    --primary-color-green: #5FB4A2;
    --primary-color-dark-blue: #203A4C;
    --primary-color-black: #33323D;
    --secondary-color-white: #FAFAFA;
    --secondary-color-grey: #EAEAEB;
    --secondary-color-red: #F43030;
}
